id ICON "icons8-xbox-48.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Webmaster442"
      VALUE "FileDescription", "Xbox360 controller turn off application"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "XboxControllerTurnOff.exe"
      VALUE "LegalCopyright", "Ruzsinszki Gabor"
      VALUE "OriginalFilename", "XboxControllerTurnOff.exe"
      VALUE "ProductName", "XboxControllerTurnOff"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END